.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.header__style{
  box-shadow: 10px 5px 5px #4a5c81; 
  margin: 0% auto;
  padding: 10px;
  background-color: rgb(144, 151, 153);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{
  text-shadow: 2px 2px #4a5c81;
}
.load__style{
  height: 1000px;
}

footer {
  position: static;
  left: 0;
  padding: 5px;
  bottom: 0;
  width: 100%;
  background-color: rgb(144, 151, 153);
  color: white;
  text-align: center;
  box-shadow: 50px 10px 10px 15px #4a5c81; 
}
.button__style{
  color: white;
  box-shadow: 10px 5px 5px #4a5c81; 
}
